<section id="edit-category-wrapper" layout="row">
    <md-content flex layout-padding>
        <form novalidate name="createCategoryForm" ng-submit="createCategory(newCategoryDataModel)">
            <md-input-container>
                <label for="category_name">Sub-title:</label>
                <input required  id="category_name" type="text" name="category_name" ng-model="newCategoryDataModel.name">
            </md-input-container>
        </form>
    </md-content>
    <aside id="item-actions">
        <nav>
            <ul layout="column">
                <li flex>
                    <md-button flex class="md-raised md-cornered" ng-click="updateItem(itemDataModel)">
                        Create
                    </md-button>
                </li>
            </ul>
        </nav>
    </aside>

</section>