<section id="edit-item-wrapper" layout="row">
    <md-content flex layout-padding>
        <edit-item-form></edit-item-form>
    </md-content>
    <aside id="item-actions">
        <nav>
            <ul layout="column">
                <li flex>
                        <md-button flex class="md-raised md-cornered">
                            Update
                        </md-button>
                </li>
                <li flex>
                        <md-button flex class="md-raised md-cornered">
                            Delete
                        </md-button>
                </li>
                </ul>
            </nav>
    </aside>

</section>