<form novalidate  name="itemForm" ng-submit="submitItem(itemDataModel)">
    <fieldset>
        <md-input-container>
            <label>Category:</label>
            <md-select ng-model="itemDataModel.category" required>
                <md-option ng-selected="(category.idName == itemDataModel.item_type)" ng-repeat="category in categories" value="{{category.idName}}">
                    {{category.categoryName}}
                </md-option>
            </md-select>
        </md-input-container>

    </fieldset>
    <fieldset>
        <md-input-container>
            <label for="title">Title:</label>
            <input required  id="title" type="text" name="mainTitle" ng-model="itemDataModel.mainTitle">
            <div ng-messages="itemDataModel.mainTitle.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label for="sub_title">Sub-title:</label>
            <input required  id="sub_title" type="text" name="subTitle" ng-model="itemDataModel.subTitle">
        </md-input-container>
        <md-input-container>
            <label for="address">Address:</label>
            <input required  id="address" type="text" name="address" ng-model="itemDataModel.address">
        </md-input-container>
    </fieldset>

    <fieldset>
        <md-input-container>
            <label for="description">description:</label>
            <textarea required id="description" ng-model="itemDataModel.description" name="description" rows="10" cols="50" placeholder="Write something here"></textarea>
        </md-input-container>
    </fieldset>

    <fieldset>
        <input ng-checked="itemDataModel.wiki_related" id="wiki_related" type="checkbox" name="wiki_related" ng-model="itemDataModel.wiki_related">
        <label >Wiki article was used for creating this item</label>
        <!--<md-checkbox  ng-checked="itemDataModel.wiki_related" name="wiki_related" ng-model="itemDataModel.wiki_related" aria-label="Checkbox 1">-->
            <!--&lt;!&ndash;Checkbox 1: {{ data.cb1 }}&ndash;&gt;-->
        <!--</md-checkbox>-->

         <md-input-container>
                <label for="wiki_link">Wiki article link:</label>
                <input required  ng-disabled="!itemDataModel.wiki_related" id="wiki_link" type="url" name="wiki_link" ng-model="itemDataModel.wiki_link">
         </md-input-container>
        <md-input-container>
                <label for="wiki_title">Wiki article title:</label>
                <input required  ng-disabled="!itemDataModel.wiki_related"  id="wiki_title" type="text" name="wiki_title" ng-model="itemDataModel.wiki_title">
        </md-input-container>
    </fieldset>
    <fieldset>
        <input id="clear" type="reset" name="clear">
        <input id="submit" type="submit" name="submit" ng-model="itemDataModel.submit">

    </fieldset>
</form>