<section id="edit-category-wrapper" layout="row">
    <md-content flex layout-padding>
        <edit-category-form></edit-category-form>
    </md-content>
    <aside id="item-actions">
        <nav>
            <ul layout="column">
                <li>
                    <md-button flex class="md-raised md-cornered" ng-click="updateCategory(categoryDataModel)">
                        Update
                    </md-button>
                </li>
                <li flex>
                    <md-button flex class="md-raised md-cornered" ng-click="deleteCategory(categoryDataModel)">
                        Delete
                    </md-button>
                </li>
            </ul>
        </nav>
    </aside>
</section>