<section id="edit-item-wrapper" layout="row">
    <md-content flex layout-padding>
        <form name="itemForm" ng-submit="submitItem(itemDataModel)">
            <fieldset>
                <label for="category">Category:</label>
                <select name="category" id="category"  ng-model="itemDataModel.category">
                    <option value="default" selected>Choose category fot the item</option>
                    <option ng-repeat="category in categories" value="{{category.idName}}">{{category.categoryName}}</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="title">Title:</label>
                <input id="title" type="text" name="title" ng-model="itemDataModel.mainTitle">

                <label for="sub_title">Sub-title:</label>
                <input id="sub_title" type="text" name="sub_title" ng-model="itemDataModel.subTitle">

                <label for="address">Address:</label>
                <input id="address" type="text" name="address" ng-model="itemDataModel.address">
            </fieldset>

            <fieldset>
                <label for="content">Content:</label>
                <textarea id="content" ng-model="itemDataModel.description" name="content" rows="10" cols="50" placeholder="Write something here"></textarea>
            </fieldset>

            <fieldset>
                <label for="wiki_related">Wiki article was used for creating this item</label>
                <input id="wiki_related" type="checkbox" name="wiki_related" ng-model="itemDataModel.wiki_related">
                <label for="wiki_link">Wiki article link:</label>
                <input id="wiki_link" type="url" name="wiki_link" ng-model="itemDataModel.wiki_link">
                <label for="wiki_title">Wiki article title:</label>
                <input id="wiki_title" type="text" name="wiki_title" ng-model="itemDataModel.wiki_title">
            </fieldset>
            <fieldset>
                <input id="clear" type="reset" name="clear">
                <input id="submit" type="submit" name="submit" ng-model="itemDataModel.submit">

            </fieldset>
        </form>
    </md-content>
    <aside id="item-actions">
        <nav>
            <ul layout="column">
                <li flex>
                    <a flex href="#">
                        <md-button flex class="md-raised md-cornered">
                            Update
                        </md-button>
                    </a>
                </li>
                <li flex>
                    <a flex href="#">
                        <md-button flex class="md-raised md-cornered">
                            Delete
                        </md-button>
                    </a>
                </li>
                </ul>
            </nav>
    </aside>

</section>