body
{
    padding: 0rem;
    margin: 0rem;
}
header
{
    background-color: #aa1501;
    color: white;
    cursor: pointer;
}

header a
{
    color: white;
    text-decoration: none;
}

header h1
{
    margin: 0em;
    padding: 0.2em;
}

.main-wrapper
{
    margin: 1rem;
}

.gallery li
{
    list-style: none;
    display: inline-block;
    margin: 0.5em;
}
.gallery li img
{
    cursor: pointer;
}

.gallery .big-image img
{
    max-height: 30rem;
}

.reviews-box
{
    background-color: rgb(253, 247, 238);
}

.reviews-titles
{
    background-color: antiquewhite;
    cursor: pointer;
    padding: 0.5rem;
}

.add-new-review form input,
.add-new-review form select,
.add-new-review form textarea
{
    display: block;
}

