<div id="content-item" >
    <section class="basic-details">
        <h1 class="main-title">{{item.basicDetails.mainTile}}</h1>
        <h3 class="main-sub-title">{{item.basicDetails.subTitle}}</h3>
        <p class="address">{{item.basicDetails.address}}</p>
    </section>

    <section class="description">
        {{item.description}}
    </section>

    <section class="map">
        <h3 class="reviews-titles"  ng-click="showHideToggler('map')">See on the map</h3>
        <div class="map-box" ng-show="showHideFlags.map"></div>
    </section>

    <section class="gallery">
        <gallery></gallery>
    </section>

    <section class="reviews">
        <h3 class="reviews-titles"  ng-click="showHideToggler('addReviewForm')" scroll-on-click>Write your review</h3>
        <div class="add-new-review" ng-show="showHideFlags.addReviewForm">
            <form>
                <input type="text" id="nickname" name="nickname">
                <input type="email" name="email" id="email">
                <input type="text" name="origin-country" id="origin-country">
                <input type="date" name="date-of-visit" id="date-of-visit">
                <select>
                    <option value="stars-5">5 stars</option>
                    <option value="stars-4">4 stars</option>
                    <option value="stars-3">3 stars</option>
                    <option value="stars-2">2 stars</option>
                    <option value="stars-1">1 stars</option>
                </select>
                <textarea name="message" rows="10" cols="30"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
        <h3 class="reviews-titles"  ng-click="showHideToggler('reviews');" scroll-on-click>Read visitors reviews</h3>
        <div class="reviews-box" ng-show="showHideFlags.reviews">
            <div class="reviews-sorting">
            <p>Show review only with rating of</p>
            <select>
                <option value="stars-5">5 stars</option>
                <option value="stars-4">4 stars</option>
                <option value="stars-3">3 stars</option>
                <option value="stars-2">2 stars</option>
                <option value="stars-1">1 stars</option>
            </select>
        </div>
            <review-item ng-repeat="review in item.reviews"></review-item>
        </div>
    </section>
</div>