<!DOCTYPE html>
<html lang="en" ng-app="luccaAdminApp">
<head>
    <meta charset="UTF-8">
    <title>Lucca`s guide: manage content</title>

    <link rel="stylesheet" type="text/css" href="media/Sass/admin_area.css">

    <!--Vendors START-->
    <script src="scripts/vendors/jquery-2.1.4.min.js"></script>
    <script src="scripts/vendors/angular.min.js"></script>
    <script src="scripts/vendors/angular-resource.min.js"></script>
    <script src="scripts/vendors/angular-route.min.js"></script>
    <script src="scripts/vendors/angular-messages.min.js"></script>
    <script src="scripts/vendors/moment.min.js"></script>
    <!--Vendors END-->

    <script src="scripts/sharedFunctionalityModule.js"></script>
    <script src="scripts/luccaAdminApplication.js"></script>
    <script src="scripts/controllers/dashboardCtrl.js"></script>
    <script src="scripts/controllers/createItemCtrl.js"></script>
    <script src="scripts/controllers/editItemCtrl.js"></script>

    <script src="scripts/directives/editItemFormDrct.js"></script>
    <script src="scripts/services/getDataFromResourceSvc.js"></script>
    <script src="scripts/routesAdmin.js"></script>


    <!--angular material and it`s dependencies-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>

</head>
<body >
    <header>
        <a href="#/"><h1>The Wanderer`s Guide to Lucca</h1></a>
    </header>
    <div layout="row" class="dashboard main-wrapper" ng-controller="dashboardController as dashboardCtrl">
        <nav id="main-menu">
            <ul layout="column" id="main-categories" >
                <li flex class="add-new-item">
                    <a flex href="#add-new-item">
                        <md-button flex class="md-raised md-cornered">
                            Add New Item
                        </md-button>
                    </a>
                </li>
                <li flex>
                        <md-button flex class="md-raised md-cornered" ng-click="menuToggleFlags['categoriesMenu'] = !menuToggleFlags['categoriesMenu']">
                            Categories
                        </md-button>
                        <ul class="sub-menu sub-category-items" ng-show="menuToggleFlags['categoriesMenu']">
                            <li>
                                <a href="category/add-category-form">
                                    <md-button class=" md-cornered">Add new category</md-button>
                                </a>
                            </li>
                            <li>
                                <a href="category/edit-categories-form">
                                    <md-button class=" md-cornered">Edit categories</md-button>
                                </a>
                            </li>
                        </ul>
                </li>
                <li flex ng-repeat="category in categories" id="{{category.categoryName.toLowerCase()}}">

                    <a flex href="#subcategory/{{category.idName}}" ng-click="getSubCategory(category.idName)">
                        <md-button ng-disabled="category.idName !='churches'" flex class="md-raised md-cornered">
                            {{category.categoryName}}
                        </md-button>
                    </a>
                    <ul class="sub-menu sub-category-items"
                            ng-show="menuToggleFlags[category.idName]">
                        <li ng-repeat="item in category.items"
                            id="item-{{item.item_id}}">
                            <a href="#item/{{item.item_id}}">
                                <md-button class=" md-cornered">{{item.mainTitle}}</md-button>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div ng-view id="edit">
        </div>
    </div>
</body>
</html>