$c-brick-red:#aa1501;
$-brick-red-medium:#770f01;
$-brick-red-light:#993300;
$c-base-grey: #F7F7F7;
$c-bright-grey:rgb(216, 216, 216);
$btn-sm-screen-width: 100%;

@mixin no-padding-margin {
  padding: 0rem;
  margin: 0rem;
}

@mixin triangle-arrow-left{
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid $-brick-red-medium;
  position: absolute;
  right: 0px;
}

ul{
  padding: 0rem;
  margin: 0rem;
}
a.arrow-back{
  position: absolute;
  left: 2%;
  top: 30%;

  div {
    @include triangle-arrow-left;
  }
}

body {
  @include no-padding-margin();
  background-color: $c-base-grey;
  font-size: 100%;
}


header {
  background-color: $c-brick-red;
  color: white;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
  h1 {
    margin: 0em;
    padding: 0.2em;
  }

}

#main-categories,
.sub-category-items {
  list-style: none;
  padding-left: 0px;
  font-size: 1.5rem;
  a{
    text-decoration: none;
    color: $-brick-red-light;

    button{
      width: $btn-sm-screen-width;
    }
  }
}

input[type=checkbox]{
  transform: scale(1.5);
}
