@import 'basic';
nav#main-menu{
  ul.sub-category-items{
    margin-left: 1rem;
    font-size: 1rem;

    button{
      font-size: 0.8em;
    }
  }
}

#edit{
  width: 80%;
}
section#edit-item-wrapper{
  padding: 0% 2% 0% 2%;
}

form{
  border: 1px solid #A0A0A0;
  fieldset{
    border: none;
  }
}