@import 'basic';

.main-title-wrap {
  position: relative;
  .main-title {
    font-size: 1.5rem;
    color: $-brick-red-medium;
  }
  .main-sub-title {
    color: $-brick-red-medium;
  }
}


#sub-category-page{
  .main-title{
    font-size: 1rem;
    color:$-brick-red-medium;
  }
}


.main-wrapper {
  margin: 1rem;
}


#content-item{
  md-card-content{
    padding: 0px 16px 0px 16px;
  }
  .reviews .reviews-list md-card-content{
    padding: 0rem;
  }

  .item-titles {
    background-color: antiquewhite;
    cursor: pointer;
    padding: 0.5rem;
    color:$-brick-red-medium;
    position: relative;
  }
  .closed:after{
    content: ">";
    position: absolute;
    right: 2%;
    transform: rotate(90deg);
  }

  .opened:after{
    content: ">";
    position: absolute;
    right: 2%;
    transform: rotate(270deg);
  }

}

.wiki-license{
  font-style: italic;
  font-size: 0.8em;
}

p.address{
  @include no-padding-margin();
  font-style: italic;
  font-size: 0.8rem;
}


.gallery {
  li {
    list-style: none;
    display: inline;
    margin: 0.5em;

  }
  li img {
    cursor: pointer;
    height: 5rem;
  }

  .big-image img {
    max-height: 25rem;
  }
}

.reviews{
  form #item-id{
    display: none;
  }



  .reviews-box {
    //background-color: rgb(253, 247, 238);
  }


  .review-item{
    >*{
      margin: 0.5em;
    }
    background-color: $c-bright-sand;
    padding: 0.5rem 0 0.5rem 0;
    background-color: #fdf7ee;
    padding: 0.4rem 1rem;
    /* margin: 1rem 0rem; */
    border-bottom: 1px solid $c-bright-grey;

    p.message{
      margin: 1.5em 0.5em;
    }
  }

  .add-new-review form input,
  .add-new-review form select,
  .add-new-review form textarea {
    display: block;
  }
}

section.map{
  #map{
    width: 100%;
    height: 400px;
  }
}

/*START Weather*/
section#weather_widget {
  .weather-details{
    display: inline-block;
    margin-right: 1rem;
  }
  img{
    display:block;
  }
}

/*END Weather*/
